

/* Asterik used to select all elements */
*{
    /* Removes all default margins, padding and border */
    margin: 0;
    padding: 0;
    border: 0;
}


a{
    text-decoration: none;
    color: white;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Baloo Bhaina 2', Arial, Helvetica, sans-serif;
}


.homePageContent{
    display: grid;
    grid-template-columns: auto auto;
}

.leftContent{
    width: 50vw;
    height: 100% ;
    background-image: url('../assets/img/blueOpieMe.png');
    opacity:0.5;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}



.leftContent h1{
    color: #fff;
    font-size: 60px;
    text-shadow: 0px 5px #000;
}

.rightContent {
    width: 50vw;
    float: right;
}

.boxs{ 
    display: grid;
    grid-template-columns: auto auto; /* Using grid to create 4 even boxes */
}

.box{
    width: 25vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}




 main {
    color: #fff;
    font-size: 50px;
    font-family: 'Baloo Bhaina 2', Arial, Helvetica, sans-serif;
 }
 
 main span {
     background-color: rbga(255,255,255,1);
     
 }


/* Selecting by ID (#): Box1 */
#Box1{

    background-image: url(#);
    background-color: #00072D;
    background-size: cover;
    opacity: 1;
    word-wrap: break-word;
    text-decoration: none;

}

#Box1:hover{
    opacity: 0.7;
    background-image: url("../assets/img/me.jpg");
    color: white;
}


#Box2{
    background-image: url(#);
    background-color: #001C55;
    background-size: cover;
}

#Box2:hover{
    opacity: 0.7;
    background-image: url("../assets/img/projectsMe.JPG");
    color: black;
}

#Box3{
    background-image: url(#);
    background-color: #294C60;
    background-size: cover;
}

#Box3:hover{
    opacity: 0.7;
    background-image: url("../assets/img/blogMe.jpg");
    color: white;
}


#Box4{
    background-image: url(#);
    background-color: #2D82B7;
    background-size: cover;
}

#Box4:hover{
    opacity: 0.7;
    background-image: url("../assets/img/callMe.JPG");
    color: white;
}


footer{
    padding-left: 20px;
}


@media only screen and (max-width: 1000px){

.leftContent{
    background-image: none;
    background-color: cornflowerblue;
    width: 100vw;
}
.leftContent h1 {
    font-size: 45px;
}

.homePageContent{
    grid-template-columns: auto;
}

.box{
    width: 50vw;
}

}