*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Baloo Bhaina 2', Arial, Helvetica, sans-serif;
    background-color: #092074;
     width: 100vw;
     height: 100vh;
     color: #fff;
    font-size: 20px;
    
        
}


main{
    font-family: 'Baloo Bhaina 2', Arial, Helvetica, sans-serif;
    background-color: #092074;
    color: #fff;
}

header{
    padding: 5px 10px;
    background-color: #094074;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: "brand nav";
    font-family: 'Baloo Bhaina 2', Arial, Helvetica, sans-serif;
}

.brand-logo{
    grid-area: brand;
}

.main-nav{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.navigation-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    
}

.navigation-item{
    margin: 0 10px;
    
}

.navigation-item a{
    text-decoration: none;
    color: white;
    background: #294C60;
    font-size: 12px;
    border-radius: 15px 15px 15px 15px;
    padding: 1px 50px;
    align-items: center;
    transition: 0.5s;
}

.navigation-item a:hover{
    color: black;
    background: white;
    font-size: 16px;
    transition: 0.1s;
    border-radius: 5px 5px 5px 5px;
    
}


.projectPageContent{
    display: grid;
    grid-template-columns: auto auto auto;
}

.projectContent {
    width: 100vw;
}

.pboxs{ 
    display: grid;
    grid-template-columns: auto auto auto;
}

.pbox{
    width: 33vw;
    height: 38.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

#projectBox1{

    background-size: cover;
    opacity: 1;
    word-wrap: break-word;
    text-decoration: none;
    object-fit: cover;
    font-size: 1px;

    background-image: url('../assets/img/DAT402A.JPG');
    background-size: 33vw 400px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
}

#projectBox1:hover{
    background-image: url('../assets/img/DAT402B.JPG');
    background-size: 33vw 400px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(0%);
}


#projectBox2{

    background-image: url(#);
    background-color: #00672D;
    background-size: cover;
    opacity: 1;
    word-wrap: break-word;
    text-decoration: none;
    font-size: 1px;

    background-image: url('../assets/img/DAT404A.JPG');
    background-size: 33vw 400px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);

}

#projectBox2:hover{
    background-image: url('../assets/img/DAT404B.png');
    background-size: 33vw 400px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(0%);
}

#projectBox3{

    background-image: url(#);
    background-color: #0087002D;
    background-size: cover;
    opacity: 1;
    word-wrap: break-word;
    text-decoration: none;
    font-size: 1px;

    background-image: url('../assets/img/DAT405A.png');
    background-size: 33vw 400px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);

}

#projectBox3:hover{
    background-image: url('../assets/img/DAT405B.JPG');
    background-size: 33vw 400px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(0%);
}

#projectBox4{

    background-image: url(#);
    background-color: #0087002D;
    background-size: cover;
    opacity: 1;
    word-wrap: break-word;
    text-decoration: none;
    font-size: 1px;

    background-image: url('../assets/img/DAT406A.png');
    background-size: 33vw 400px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);

}

#projectBox4:hover{
    background-image: url('../assets/img/DAT406B.png');
    background-size: 33vw 400px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(0%);
}

#projectBox5{

    background-image: url(#);
    background-color: #0087002D;
    background-size: cover;
    opacity: 1;
    word-wrap: break-word;
    text-decoration: none;
    font-size: 1px;

    background-image: url('../assets/img/DAT411A.png');
    background-size: 33vw 400px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);

}

#projectBox5:hover{
    background-image: url('../assets/img/DAT411B.JPG');
    background-size: 33vw 400px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(0%);
}

#projectBox6{

    background-image: url(#);
    background-color: #0087002D;
    background-size: cover;
    opacity: 1;
    word-wrap: break-word;
    text-decoration: none;
    font-size: 1px;

    background-image: url('../assets/img/DAT413A.JPG');
    background-size: 33vw 400px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);

}

#projectBox6:hover{
    background-image: url('../assets/img/DAT413B.JPG');
    background-size: 33vw 400px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(0%);
}


.bannerImage{
    width: 100%;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.padding20{
    padding: 20px;
}


@media only screen and (max-width: 1000px){
    .contactGrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "contactLeft"
                             "contactRight"
                             "contactBottom";
        width: 95%;
        
    }

    .container{
        width: 100vw;
        margin: 0 auto;
    }

    .pboxs{ 
        display: grid;
        grid-template-columns: auto;
    }

    .pbox{
        width: 100vw;
        height: 38.3vh;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    
    }

    .sorryText{
        font-size: 15px;
        text-align: center;
    }

    #projectBox1 {
        background-size: 100vw 400px;
    }
    #projectBox1:hover {
        background-size: 100vw 400px;
    }
    #projectBox2 {
        background-size: 100vw 400px;
    }
    #projectBox2:hover {
        background-size: 100vw 400px;
    }
    #projectBox3 {
        background-size: 100vw 400px;
    }
    #projectBox3:hover {
        background-size: 100vw 400px;
    }
    #projectBox4 {
        background-size: 100vw 400px;
    }
    #projectBox4:hover {
        background-size: 100vw 400px;
    }
    #projectBox5 {
        background-size: 100vw 400px;
    }
    #projectBox5:hover {
        background-size: 100vw 400px;
    }
    #projectBox6 {
        background-size: 100vw 400px;
    }
    #projectBox6:hover {
        background-size: 100vw 400px;
    }

}

footer{
    background-color: #04043d;
    font-family: 'Baloo Bhaina 2', Arial, Helvetica, sans-serif;

}

.socialMedia{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.socialMedia > a {
    text-decoration: none;
    color: white;
    transition: 2s;
}

.socialMedia > a:hover {
    text-decoration: none;
    color: grey;
    transition: 0.1s;
}

.mainText{
    max-width: 1000px;
    margin: 0 auto;
}

.sorryText{
    font-size: 50px;
    text-align: center;
}

.aboutGrid{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "aboutLeft aboutRight"
                         "aboutBottom aboutBottom";
    grid-template-rows: (2, 1fr);
}

.aboutLeft{
    grid-area: aboutLeft;
    color: white;
    
}

.aboutBottom{
    grid-area: aboutBottom;
    color: white;
    
}

.aboutRight{
    grid-area: aboutRight;
    color: white;
    font-size: 20px;
    background-image: url('../assets/img/me.jpg');
    background-size: 232px 308px;
    background-repeat: no-repeat;
    background-position: center;
}


.contactGrid{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "contactLeft contactRight"
                        "contactBottom contactBottom";
    grid-template-rows: (2, 1fr);
}

.contactLeft{
    grid-area: contactLeft;
    color: white;
    
}

.contactRight{
    grid-area: contactRight;
    color: white;
    font-size: 20px;
}

.contactBottom{
    grid-area: contactBottom;
}


.copyrightInfo{
    font-size: 20px;
    color: white;
    text-align: left center;
}

.formContainer{
    width: 100%;
    background-color: #096074;
    border-radius: 10px;
    border: 4px solid #099074;
    padding: 15px;
}

.formContainer > h1 {
    color: #fff;
    text-align: center;
}

.formContainer > form{
    display: flex;
    flex-direction: column;
    height: 50vh;
    font-size: 28px;
    justify-content: space-around;
}

.formContainer > form > input,
.formContainer > form > textarea{
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #099074;
}

.formContainer > form > input:focus,
.formContainer > form > textarea:focus{
    border-color: blue;
}

#nameField, #emailField{
    height: 30px;
}

#messageField{
    resize: none;
}

#submitBTN {
    background-color: #094074;
    color: #fff;
    transition: background-color 0.5s;

}

.burgerIconContainer{
    display: flex;
    align-items: center;
    justify-content: right;
}
.burgerIcon:hover{
    background-color: tomato;
    cursor: pointer;
}
.burgerIcon{
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px,15px;
    background-color: transparent;
    display: none;
}


.burgerIcon:hover{
    background-color: tomato;
    cursor: pointer;
}

.navigation-item{
    margin: 0 10px;
    
}

.navigation-item a{
    text-decoration: none;
    color: white;
    
    
}

.navigation-item a:hover{
    color: black;

    
}

.bannerImage{
    width: 100%;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}




@media only screen and (max-width: 1000px){
   
    .aboutGrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "aboutLeft"
                             "aboutBottom"
                             "aboutRight";
        width: 95%;
    }

    .navigation-item a{
        text-decoration: none;
        color: white;
    } 

    .main-nav{
        grid-area: nav;
    }
    .navigation-list{
        display: inline-block;
        width: 100%;
        height: 150px;
        opacity: 1;

    }

    .navigation-transition{
        transition: 0.3s height ease-in-out, 0.2s opacity ease-in;
        transition-delay: 0s, 0.2s;
    }


    .navigation-list-closed{
        opacity: 0;
        height: 0;
        transition-delay: 0s, 0.2s;
    }

    .navigation-item{
        width: 100%;
        text-align: center;
        padding: 15px;
        margin: 0;
        border-bottom: 2px solid #fff;
    }

    
    .navigation-item:hover{
        background-color: #777;
    }


    .burgerIcon{
        display: block;
        grid-area: right;
    }

    .socialMedia{
        font-size: 30px;
        vertical-align: center;
        padding: 10px;
        margin: 10px;
    }

}